.map {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  cursor: pointer;
}

.canvas {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
